body{
	background-image: url('../img/background.png');
	margin: auto 0;
	font-family: 'Montserrat', sans-serif;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

h1{
    margin-top:250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color:white;
}
p{
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}